<!DOCTYPE html>
<html>
<head>
    <!-- this enables responsive features in browser -->
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <meta content='text/html;charset=utf-8' http-equiv='content-type'>
    <title>Campaign Manager</title>

    <!-- your & Flatty stylesheets -->
    <link href="../assets/stylesheets/bootstrap/bootstrap.css" media="all" rel="stylesheet" type="text/css"/>
    <link href="../assets/stylesheets/light-theme.css" media="all" id="color-settings-body-color" rel="stylesheet"
          type="text/css"/>

    <link rel="stylesheet" type="text/css"
          href="../assets/stylesheets/plugins/bootstrap_daterangepicker/bootstrap-daterangepicker.css">
    <link rel="stylesheet" type="text/css" href="../assets/stylesheets/plugins/datatables/bootstrap-datatable.css">
    <!-- / jquery [required] -->
    <script src="../assets/javascripts/jquery/jquery.min.js" type="text/javascript"></script>
    <!-- st-grid -->
    <link rel="stylesheet" type="text/css" href="../plugins/st-grid3.0/css/st-grid.css">
    <script type="text/javascript" src="../plugins/st-grid3.0/js/escape.js"></script>
    <script type="text/javascript" src="../plugins/st-grid3.0/js/st-grid.js"></script>

    <!-- st-pop -->
    <link rel="stylesheet" type="text/css" href="../plugins/st-pop2.0/css/st-pop.css">
    <script type="text/javascript" src="../plugins/st-pop2.0/js/st-pop.js"></script>

    <!-- select2组件 -->
    <link href="../plugins/select2-3.4.5/select2.css" rel="stylesheet"/>
    <script src="../plugins/select2-3.4.5/select2.js"></script>


    <!-- if you are going to support IE8 you must include these files -->
    <!--[if lt IE 9]>
    <script src='assets/javascripts/ie/html5shiv.js' type='text/javascript'></script>
    <script src='assets/javascripts/ie/respond.min.js' type='text/javascript'></script>
    <![endif]-->
    <!--[if lt IE 8]>
    <script>
        var isIE = navigator.userAgent.indexOf("MSIE") >= 0;
        if (isIE) {
            var r = /MSIE\s+(\d+)/.exec(navigator.appVersion);
            if (r[1]) {
                if (r[1] < 8) {
                    window.location.href = "warning.html";
                }
            }
        }
    </script>
    <![endif]-->
    <style type="text/css">
        body {
            font-family: "微软雅黑", "黑体", "宋体", "arial";
        }
    </style>
</head>
<body>

<!-- 不能删除示例div -->
<div class="box-content box-statistic row" style="height: 220px">
    <div class="col-md-2 col-xs-2  text-warning icon-warning-sign text-left" style="font-size: 50px;"></div>
    <div class="col-md-10 col-xs-10 box-content box-statistic">
        <h3 class="title text-warning">删除“首页”后，其下的广告位合并入新频道；请选择新频道：</h3><br>
        <select id="e1" class="select2-container populate" style="width: 300px;">
            <option></option>
            <option value="AL">Alabama</option>
            <option value="AL">hello</option>
            <option value="AL">zhen</option>
            <option value="AL">de</option>
            <option value="WY">Wyoming</option>
            <option value="AL">Alabama</option>
            <option value="AL">hello</option>
            <option value="AL">zhen</option>
            <option value="AL">de</option>
            <option value="WY">Wyoming</option>
            <option value="AL">Alabama</option>
            <option value="AL">hello</option>
            <option value="AL">zhen</option>
            <option value="AL">de</option>
            <option value="WY">Wyoming</option>
        </select>
    </div>

</div>

<!--<div class="box-content box-statistic text-center">
    <select id="e1" class="select2-container populate" style="width: 300px;">
        <option value="AL">Alabama</option>
        <option value="AL">hello</option>
        <option value="AL">zhen</option>
        <option value="AL">de</option>
        <option value="WY">Wyoming</option>
        <option value="AL">Alabama</option>
        <option value="AL">hello</option>
        <option value="AL">zhen</option>
        <option value="AL">de</option>
        <option value="WY">Wyoming</option>
        <option value="AL">Alabama</option>
        <option value="AL">hello</option>
        <option value="AL">zhen</option>
        <option value="AL">de</option>
        <option value="WY">Wyoming</option>
    </select>
</div>-->

<!--<div class="select2-container populate" id="ea" style="width: 300px;">
    <a href="javascript:void(0)" onclick="return false;" class="select2-choice" tabindex="-1">
    <span class="select2-chosen">Alaska</span>
    <abbr class="select2-search-choice-close"></abbr>
    <span class="select2-arrow"><b></b></span></a>
    <input class="select2-focusser select2-offscreen" type="text" id="e1" tabindex="0">
</div>-->
<div class="form-actions form-actions-padding-sm text-center">
    <div class="row">
        <div class="col-md-10 col-md-offset-2">
            <button id="save" class="btn btn-primary" type="submit">
                <i class="icon-save"></i>
                Save
            </button>
            <button id="cancel" class="btn" type="submit">Cancel</button>
        </div>
    </div>
</div>
<!-- <div class="text-center" style="margin-bottom: 0;">
     <button type="button" class="btn btn-primary"><i class="icon-save"></i> Save</button>
     <button type="button" class="btn btn-default">Default</button>
 </div>-->

<!-- your & Flatty javascripts -->

<!-- / jquery mobile (for touch events) -->
<script src="../assets/javascripts/jquery/jquery.mobile.custom.min.js" type="text/javascript"></script>
<!-- / jquery migrate (for compatibility with new jquery) [required] -->
<script src="../assets/javascripts/jquery/jquery-migrate.min.js" type="text/javascript"></script>
<!-- / jquery ui -->
<script src="../assets/javascripts/jquery/jquery-ui.min.js" type="text/javascript"></script>
<!-- / jQuery UI Touch Punch -->
<script src="../assets/javascripts/plugins/jquery_ui_touch_punch/jquery.ui.touch-punch.min.js"
        type="text/javascript"></script>
<!-- / bootstrap [required] -->
<script src="../assets/javascripts/bootstrap/bootstrap.js" type="text/javascript"></script>
<!-- / modernizr -->
<script src="../assets/javascripts/plugins/modernizr/modernizr.min.js" type="text/javascript"></script>
<!-- / retina -->
<script src="../assets/javascripts/plugins/retina/retina.js" type="text/javascript"></script>
<!-- / theme file [required] -->
<script src="../assets/javascripts/theme.js" type="text/javascript"></script>

<script src="../assets/javascripts/plugins/common/moment.min.js" type="text/javascript"></script>
<script src="../assets/javascripts/plugins/bootstrap_daterangepicker/bootstrap-daterangepicker.js"
        type="text/javascript"></script>

<!-- project request -->
<script type="text/javascript" src="../js/project.js"></script>

<script>
    $(document).ready(function () {
        $("#e1").select2({
            placeholder: "Select a State",
            allowClear: true
        });
        $("#cancel").click(function(){
            parent.popDelete.close();
        });
        $("#save").click(function(){
            //处理后台逻辑
            //deleteById(id);
            parent.popDelete.close();
        });
    });
</script>

</body>
</html>